.carousel {
  display: flex;
  justify-content: center;
  width: 100%;

  &__container {
    display: inherit;
    height: 40px;

    @media screen and (max-width: 767px) {
      width: 280px;
      margin-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
      width: 374px;
      margin-bottom: 60px;
    }
  }

  &__left,
  &__right {
    cursor: pointer;
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: $secondary--background;
  }

  &__right {
    img {
      transform: scaleX(-1);
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    gap: 10px;

    & * {
      cursor: pointer;
      display: inherit;
      justify-content: inherit;
      align-items: inherit;
      height: 100%;
      padding: 0 3px;

      &.hidden {
        display: none;
      }
    }
  }

  &__number {
    &.selected {
      width: 40px;
      border-radius: 5px;
      background-color: $main--accent;
      color: $main--background;
    }

    &.more {
      padding-bottom: 9px;
    }
  }
}
