.overlay {
  display: none;
  z-index: 5;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 150px 0 60px;
  background-color: rgba($color: #000000, $alpha: 0.25);
}

.modal {
  position: relative;
  background-color: $main--background;

  @media screen and (max-width: 767px) {
    width: 280px;
    padding: 48px 20px 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 704px;
    padding: 40px 36px;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    padding: 40px 12px;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background: $main--text;
    mask-image: url(../img/close.svg);
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__media {
    display: inherit;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      width: 240px;
      height: 357px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 264px;
      height: 374px;
      margin-right: 68px;
    }

    @media screen and (min-width: 1280px) {
      width: 375px;
      height: 478px;
      margin-right: 16px;
    }
  }

  &__poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  &__details {
    display: inherit;
    flex-direction: column;
    width: 391px;
    gap: 20px;

    @media screen and (max-width: 767px) {
      width: 240px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 260px;
    }

    @media screen and (min-width: 1280px) {
      width: 391px;
    }
  }

  &__title {
    font-weight: 500;
    text-transform: uppercase;

    @media screen and (max-width: 1279px) {
      font-size: 20px;
      line-height: 1.15;
    }

    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.17;
    }
  }

  &__stats {
    display: inherit;
    flex-direction: column;
    gap: 8px;

    & li {
      display: inherit;

      @media screen and (max-width: 1279px) {
        gap: 40px;
      }

      @media screen and (min-width: 1280px) {
        gap: 80px;
      }

      & span:first-child {
        width: 70px;
      }
    }
  }

  .data {
    color: $teritary--text;
  }

  .value {
    display: inherit;

    @media screen and (max-width: 767px) {
      max-width: 130px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      max-width: 150px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 241px;
    }

    &__title {
      text-transform: uppercase;
    }
  }

  .separator {
    margin: 0 3px;
  }

  .rating {
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 16px;
    border-radius: 5px;
    color: $main--background;
    background-color: $main--accent;
    font-size: 12px;
    line-height: 1.17;

    &__votes {
      color: $main--text;
      background-color: $secondary--background;
    }
  }

  &__description {
    display: inherit;
    flex-direction: column;
    gap: 8px;
  }

  &__text {
    line-height: 1.67;
  }

  &__buttons {
    display: flex;
    gap: 15px;

    @media screen and (min-width: 1280px) {
      padding-left: 24px;
    }

    & button {
      width: 136px;
      height: 44px;
    }
  }
}

// Modifiers

.modal-on {
  overflow-y: hidden;
  & .overlay {
    display: flex;
  }
}
