<div class="carousel">
  <div class="carousel__container">
    <div class="carousel__left">
      <img
        src="./img/arrow-left.svg"
        alt="Arrow Left"
        width="16px"
        height="16px"
        class="arrow__left"
      />
    </div>
    <div class="carousel__content"></div>
    <div class="carousel__right">
      <img
        src="./img/arrow-left.svg"
        alt="Arrow Right"
        width="16px"
        height="16px"
        class="arrow__right"
      />
    </div>
  </div>
</div>
