<div class="carousel">
  <div class="carousel__container">
    <div class="carousel__left">
      <img
        src="./img/arrow-left.svg"
        alt="Arrow Left"
        width="16px"
        height="16px"
      />
    </div>
    <div class="carousel__content">
      <div class="carousel__number corner">1</div>
      <div class="carousel__number more">...</div>
      <div class="carousel__number">13</div>
      <div class="carousel__number">14</div>
      <div class="carousel__number selected">15</div>
      <div class="carousel__number">16</div>
      <div class="carousel__number">17</div>
      <div class="carousel__number more">...</div>
      <div class="carousel__number corner">20</div>
    </div>
    <div class="carousel__right">
      <img
        src="./img/arrow-left.svg"
        alt="Arrow Left"
        width="16px"
        height="16px"
      />
    </div>
  </div>
</div>
