<main>
  <div class="container main">
    <div class="content">
      <ul class="gallery">
        <li class="gallery__card">
          <img
            src="./img/servant.jpg"
            data-source="./img/servant.jpg"
            data-page="homepage"
            alt="Movie name"
            class="gallery__image"
          />
          <div class="gallery__data">
            <div class="gallery__name">Servant of the People</div>
            <div class="gallery__stats">
              <p class="gallery__details">Documentary | 2015</p>
              <div class="gallery__rating">9.5</div>
            </div>
          </div>
        </li>
        <li class="gallery__card">
          <img
            src="./img/servant.jpg"
            data-source="./img/servant.jpg"
            data-page="homepage"
            alt="Movie name"
            class="gallery__image"
          />
          <div class="gallery__data">
            <div class="gallery__name">Servant of the People</div>
            <div class="gallery__stats">
              <p class="gallery__details">Documentary | 2015</p>
              <div class="gallery__rating">9.5</div>
            </div>
          </div>
        </li>
        <li class="gallery__card">
          <img
            src="./img/servant.jpg"
            data-source="./img/servant.jpg"
            data-page="homepage"
            alt="Movie name"
            class="gallery__image"
          />
          <div class="gallery__data">
            <div class="gallery__name">Servant of the People</div>
            <div class="gallery__stats">
              <p class="gallery__details">Documentary | 2015</p>
              <div class="gallery__rating">9.5</div>
            </div>
          </div>
        </li>
        <li class="gallery__card">
          <img
            src="./img/servant.jpg"
            data-source="./img/servant.jpg"
            data-page="homepage"
            alt="Movie name"
            class="gallery__image"
          />
          <div class="gallery__data">
            <div class="gallery__name">Servant of the People</div>
            <div class="gallery__stats">
              <p class="gallery__details">Documentary | 2015</p>
              <div class="gallery__rating">9.5</div>
            </div>
          </div>
        </li>
        <li class="gallery__card">
          <img
            src="./img/servant.jpg"
            data-source="./img/servant.jpg"
            data-page="homepage"
            alt="Movie name"
            class="gallery__image"
          />
          <div class="gallery__data">
            <div class="gallery__name">Servant of the People</div>
            <div class="gallery__stats">
              <p class="gallery__details">Documentary | 2015</p>
              <div class="gallery__rating">9.5</div>
            </div>
          </div>
        </li>
        <li class="gallery__card">
          <img
            src="./img/servant.jpg"
            data-source="./img/servant.jpg"
            data-page="homepage"
            alt="Movie name"
            class="gallery__image"
          />
          <div class="gallery__data">
            <div class="gallery__name">Servant of the People</div>
            <div class="gallery__stats">
              <p class="gallery__details">Documentary | 2015</p>
              <div class="gallery__rating">9.5</div>
            </div>
          </div>
        </li>
        <li class="template"></li>
        <li class="template"></li>
        <li class="template"></li>
      </ul>
    </div>
  </div>
</main>
