<div class="container">
  <div class="slider">
    <div class="slider__container">
      <div class="slider__left">
        <img
          src="./img/arrow-left.svg"
          alt="Arrow Left"
          width="16px"
          height="16px"
        />
      </div>
      <div class="slider__content">
        <div class="slider__start"></div>
        <div class="slider__more-left"></div>
        <div class="slider__numbers hasafter"></div>
        <div class="slider__more-right"></div>
        <div class="slider__end"></div>
      </div>
      <div class="slider__right">
        <img
          src="./img/arrow-left.svg"
          alt="Arrow Left"
          width="16px"
          height="16px"
        />
      </div>
    </div>
  </div>
</div>
